.first-section h1 {
  width: 47.5625rem;
  height: 8.25rem;
  font-family: "Manrope";
  font-weight: 800;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 16.875rem;
  left: 6.3438rem;
}
.first-section .FSbtn {
  width: 27.3125rem;
  height: 5.3125rem;
  border-radius: 1.5625rem;
  border: none;
  background-color: #30b04b;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  font-family: "Unbounded";
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-box-shadow: 0 0 0.625rem rgba(59, 59, 59, 0.2862745098);
          box-shadow: 0 0 0.625rem rgba(59, 59, 59, 0.2862745098);
  position: absolute;
  top: 29rem;
  left: 15.8438rem;
}
.first-section button:hover {
  cursor: pointer;
  background-color: #1f7736;
}
.first-section button:active {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  -webkit-transform: scale(0.98);
      -ms-transform: scale(0.98);
          transform: scale(0.98);
}
.first-section p {
  width: 30.0625rem;
  height: 5.0625rem;
  font-family: "Manrope";
  font-weight: 800;
  font-size: 1.25rem;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  top: 40.5625rem;
  left: 14.6563rem;
  color: #6a7081;
}
.first-section .video {
  width: 39.0625rem;
  height: 36.4375rem;
  border-radius: 2.5rem;
  position: absolute;
  top: 11.75rem;
  left: 70.7188rem;
  overflow: hidden;
}
.first-section .video video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: inherit;
  overflow: hidden;
}

.second-section {
  width: 94.5rem;
  height: 53.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.8125rem;
  margin-top: 8.125rem;
}
.second-section h1 {
  font-family: "Manrope";
  font-weight: 800;
  font-size: 2.5rem;
  letter-spacing: 0.13em;
  text-align: center;
  text-transform: uppercase;
}
.second-section .grid-cards {
  width: inherit;
  height: 47.25rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1.25rem;
}
.second-section .grid-cards .card {
  width: 22.6875rem;
  height: 23rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
  background-color: #f4f4f4;
  border-radius: 2.5rem;
  padding: 1.25rem;
  -webkit-box-shadow: 0 0 1.25rem rgba(59, 59, 59, 0.2392156863);
          box-shadow: 0 0 1.25rem rgba(59, 59, 59, 0.2392156863);
}
.second-section .grid-cards .card button {
  width: 9.8125rem;
  height: 3.75rem;
  border-radius: 1.5625rem;
  border: none;
  background-color: #30b04b;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  font-family: "Unbounded";
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-box-shadow: 0 0 0.625rem rgba(59, 59, 59, 0.2862745098);
          box-shadow: 0 0 0.625rem rgba(59, 59, 59, 0.2862745098);
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 1rem;
  font-weight: 600;
}
.second-section .grid-cards .card button:hover {
  cursor: pointer;
  background-color: #1f7736;
}
.second-section .grid-cards .card button:active {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  -webkit-transform: scale(0.98);
      -ms-transform: scale(0.98);
          transform: scale(0.98);
}
.second-section .grid-cards .card .info {
  width: 20.1875rem;
  height: 15.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.second-section .grid-cards .card .info img {
  width: 8.25rem;
  height: 13.125rem;
}
.second-section .grid-cards .card .info .text-info {
  width: 11.9375rem;
  height: 15.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
}
.second-section .grid-cards .card .info .text-info .top-text {
  width: inherit;
  height: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.125rem;
}
.second-section .grid-cards .card .info .text-info .top-text h2 {
  font-family: "Manrope";
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
}
.second-section .grid-cards .card .info .text-info .top-text p {
  font-family: "Manrope";
  font-weight: 600;
  font-size: 1rem;
  color: #2f2f2f;
}
.second-section .grid-cards .card .info .text-info .bottom-text {
  width: 8.875rem;
  height: 7.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.625rem;
}
.second-section .grid-cards .card .info .text-info .bottom-text .parameters {
  width: inherit;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.second-section .grid-cards .card .info .text-info .bottom-text .parameters p {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-family: "Manrope";
  font-weight: 500;
  font-size: 1rem;
}
.second-section .grid-cards .card .info .text-info .bottom-text .parameters span {
  width: 4.375rem;
  height: 2rem;
  border-radius: 1.25rem;
  padding: 0.3125rem 1.25rem;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.third-section {
  width: 93.625rem;
  height: 57.5625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.5rem;
  margin-top: 8.125rem;
}
.third-section h1 {
  font-family: "Manrope";
  font-weight: 800;
  font-size: 2.5rem;
  letter-spacing: 0.13em;
  text-align: center;
  text-transform: uppercase;
}
.third-section .grid-blocks {
  width: inherit;
  height: 51.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.5rem;
}
.third-section .grid-blocks .bg-shadow {
  width: 42.125rem;
  height: 24.5625rem;
  border-radius: 3.75rem;
  -webkit-box-shadow: 0 0 1.25rem rgba(59, 59, 59, 0.2392156863);
          box-shadow: 0 0 1.25rem rgba(59, 59, 59, 0.2392156863);
}
.third-section .grid-blocks .bg-shadow img {
  width: inherit;
  height: inherit;
  border-radius: inherit;
  -o-object-fit: contain;
     object-fit: contain;
}
.third-section .grid-blocks .grid-block-text {
  width: 50.25rem;
  height: 21.3125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.875rem;
  padding: 2.5rem 1.875rem;
  border-radius: 3.75rem;
  background-color: #f4f4f4;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 1.25rem rgba(59, 59, 59, 0.2392156863);
          box-shadow: 0 0 1.25rem rgba(59, 59, 59, 0.2392156863);
  -ms-flex-item-align: center;
      align-self: center;
}
.third-section .grid-blocks .grid-block-text h2 {
  font-family: "Manrope";
  font-weight: 800;
  font-size: 2.5rem;
  letter-spacing: 0.13em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0;
}
.third-section .grid-blocks .grid-block-text p {
  font-family: "Manrope";
  font-weight: 700;
  font-size: 1rem;
}
.third-section .grid-blocks .top-block {
  width: 93.625rem;
  height: 24.5625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}
.third-section .grid-blocks .top-block .grid-block-text {
  -ms-flex-item-align: center;
      align-self: center;
}
.third-section .grid-blocks .bottom-block {
  width: 92.3125rem;
  height: 24.5625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}
.third-section .grid-blocks .bottom-block .grid-block-text {
  -ms-flex-item-align: center;
      align-self: center;
}

footer {
  margin-top: 8.125rem;
}