// veriables
@mixin btn {
  border-radius: 1.5625rem;
  border: none;
  background-color: #30b04b;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  font-family: "Unbounded";
  transition: 0.3s ease-in-out;
  box-shadow: 0 0 0.625rem #3b3b3b49;
}

@mixin green-btn-animation {
  button:hover {
    cursor: pointer;
    background-color: #1f7736;
  }
  button:active {
    transition: 0.1s;
    transform: scale(0.98);
  }
}

@mixin underButtonText {
  font-family: "Manrope";
  font-weight: 700;
  font-size: 0.75rem;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  color: #888;
  padding-left: 0.8125rem;
}

@mixin H1 {
  h1 {
    width: fit-content;
    font-family: "Manrope";
    font-weight: 700;
    font-size: 2.5rem;
    letter-spacing: 0.13em;
    text-transform: uppercase;
    text-align: center;
  }
}

@mixin shadow {
  box-shadow: 0 0 1.25rem #3b3b3b3d;
}

.first-section {
  width: 115.1875rem;
  height: 52.9375rem;
  background-color: #f3f4f6;
  border-radius: 2.5rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 1.25rem #3b3b3b3d;

  header {
    width: 113.875rem;
    height: 6.375rem;
    display: flex;
    margin: 0.75rem 0.625rem 0 0.625rem;
    padding: 1.25rem 0.9375rem 1.25rem 2rem;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border-radius: 2rem;
    box-shadow: 0 0 1.25rem #3b3b3b10;

    nav {
      width: 34.5625rem;
      height: 1.6875rem;
      display: flex;
      gap: 2.9375rem;

      a {
        text-transform: uppercase;
        font-family: "Manrope";
        font-size: 1.25rem;
        text-decoration: none;
        font-weight: 600;
        letter-spacing: 13%;
        color: #030712;
        position: relative;
      }
      a::after {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        display: block;
        width: 100%;
        height: 0.125rem;
        background: #000;
        width: 0;
        transition: 0.5s;
      }
      a:hover::after {
        width: 100%;
      }
    }
    .application {
      width: 32.7125rem;
      height: 4.5rem;
      display: flex;
      gap: 5rem;
      align-items: center;

      button {
        width: 16.9375rem;
        height: 4.5rem;
        @include btn;
      }
      button:hover {
        cursor: pointer;
        background-color: #1f7736;
      }
      button:active {
        transition: 0.1s;
        transform: scale(0.98);
      }
    }
    a:active {
      transition: 100ms ease;
      color: #757575;
    }
    a:active::after {
      background: #757575;
      transition: 100ms ease;
    }
  }

  h1 {
    width: 63.7125rem;
    height: 10.8125rem;
    position: absolute;
    top: 16.5625rem;
    left: 3.8125rem;
    font-family: "Manrope";
    font-size: 4rem;
    font-weight: 800;
    letter-spacing: 0.13em;
    text-transform: uppercase;
  }

  .man {
    width: 35.125rem;
    height: 4.125rem;
    position: absolute;
    top: 22.5625rem;
    left: 33rem;
    font-family: "Manrope";
    font-weight: 600;
    font-size: 1.5rem;
    color: #272727;
  }

  .sign-up {
    width: 53.625rem;
    height: 13.25rem;
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    position: absolute;
    top: 34.1875rem;
    left: 3.8125rem;

    h4 {
      font-family: "Manrope";
      font-weight: 600;
      font-size: 1.5rem;
      color: #272727;
    }

    .sign-up-btn {
      width: 28.5625rem;
      height: 7.25rem;
      display: flex;
      flex-direction: column;
      gap: 0.9375rem;

      button {
        @include btn;
        width: 28.5625rem;
        height: 5.3125rem;
      }

      @include green-btn-animation;

      @include underButtonText;
    }
  }
  .rectangle {
    width: 35.9688rem;
    height: 43.5494rem;
    position: absolute;
    top: 11.4375rem;
    left: 79.375rem;
    border-radius: 2.5rem;
    rotate: 5.41deg;
    background-color: #ededed;
    box-shadow: 0 0 1.875rem #3b3b3b2a;
  }
  .rectangle2 {
    width: 35.9688rem;
    height: 43.5494rem;
    position: absolute;
    top: 12.475rem;
    left: 80.7425rem;
    rotate: 8.57deg;
    background-color: #fff;
    border-radius: 2.5rem;
    box-shadow: 0.125rem 0.25rem 0.9375rem #3b3b3b2a;
  }
  img {
    width: 29.75rem;
    height: 56.1875rem;
    image-rendering: optimizeQuality;
    object-fit: contain;
    position: absolute;
    top: 9.5625rem;
    left: 80.5rem;
  }
}
.choosing-city {
  display: flex;
  width: 10.775rem;
  height: 1.9694rem;
  align-items: center;

  svg {
    width: 2rem;
    height: 2rem;
  }

  a {
    font-family: "Manrope";
    font-size: 1.25rem;
    font-weight: bold;
    text-decoration: underline dashed;
    text-underline-offset: 0.375rem;
    color: #000;
    position: relative;
  }
  a::after {
    position: absolute;
    content: "";
    bottom: -0.125rem;
    display: block;
    width: 100%;
    height: 0.125rem;
    background: #000;
    width: 0;
    transition: 0.3s ease-in-out;
    left: 50%;
    transform: translateX(-50%);
  }
  a:hover::after {
    width: 100%;
  }
}

.second-section {
  width: 117.0625rem;
  height: 67.6875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7.9375rem;
  gap: 2.5rem;

  h1 {
    font-family: "Manrope";
    font-weight: 800;
    font-size: 2.5rem;
    letter-spacing: 0.13em;
    text-transform: uppercase;
  }

  .mySwiper {
    overflow: hidden;
    height: 100vh;
  }

  .swipe-block {
    width: 117.0625rem;
    height: 60.625rem;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

    .custom-pagination {
      display: flex;
      justify-content: center;
      gap: 0.25rem;
      margin-bottom: 2rem;

      .pagination-svg {
        width: 6.25rem;
        height: 0.375rem;
        cursor: pointer;
        transition: fill-opacity 0.3s ease;

        rect {
          width: 100%;
          height: 100%;
          rx: 3;
          fill: #212121;
          fill-opacity: 0.08;
        }

        &.active rect,
        &.completed rect {
          fill-opacity: 0.32;
        }
      }
    }

    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-wrapper {
      display: flex;
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      background: none;
      display: flex;
      justify-content: center;
      flex-shrink: 0;
      // width: 85.9375rem;
      width: 100vw;

      .slide {
        width: 85.9375rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 3.125rem;

        .about-block {
          width: 41.6875rem;
          height: 33.9375rem;
          display: flex;
          flex-direction: column;
          gap: 2.125rem;
          align-items: center;

          .text-block {
            width: 41.6875rem;
            height: 24.1875rem;
            display: flex;
            flex-direction: column;
            gap: 4.625rem;
            align-items: center;

            @include H1;

            h4 {
              width: 30rem;
              font-family: "Manrope";
              font-weight: 700;
              font-size: 1.25rem;
              letter-spacing: 0.13em;
              text-transform: uppercase;
              text-align: center;
            }
          }
          .plant-tree {
            width: 31.1875rem;
            height: 7.625rem;
            display: flex;
            flex-direction: column;
            gap: 2.0625rem;

            button {
              @include btn;
              width: 31.1875rem;
              height: 5.8125rem;
            }
            @include green-btn-animation;
            @include underButtonText;
          }
        }
      }
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    .firstImg {
      width: 41.125rem !important;
      height: 54.25rem !important;
    }

    .secondImg {
      width: 49.75rem !important;
      height: 49.75rem !important;
    }

    .thirdImg {
      width: 49.75rem !important;
      height: 49.75rem !important;
    }

    .swiper {
      margin-left: auto;
      margin-right: auto;
    }

    .swiper-button-next,
    .swiper-button-prev {
      width: 6rem !important;
      height: 6rem !important;
      background-color: #fff;
      border-radius: 62.4375rem !important;
      border: 0.0625rem solid #21212114;
      background-image: none !important;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
      width: 2rem;
      height: 2rem;
      font-size: 1rem;
      font-weight: 900;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #2121213d;
      transition: 150ms ease-out;
    }

    .swiper-button-next:hover::after,
    .swiper-button-prev:hover::after {
      color: #21212170;
    }

    .swiper-button-next:active::after,
    .swiper-button-prev:active::after {
      color: #212121;
    }

    .swiper-button-next {
      right: 1rem;
    }

    .swiper-button-prev {
      left: 1rem;
    }
  }
}

.third-section {
  width: 105.8125rem;
  height: fit-content;
  margin-top: 12.25rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;

  @include H1;

  .description {
    width: 99.0625rem;
    height: 30.6875rem;
    display: flex;
    gap: 3.125rem;

    .desc-block {
      width: 31.5rem;
      height: 30.6875rem;
      border-radius: 3.125rem;
      display: flex;
      align-items: center;
      justify-content: center;
      @include shadow;
      p {
        font-family: "Manrope";
        font-weight: 800;
        font-size: 1.625rem;
        letter-spacing: 0.13em;
        text-transform: uppercase;
        text-align: center;
      }
      img {
        width: 29.5rem;
        height: 27.375rem;
        object-fit: contain;
      }
    }

    .DBF {
      background-color: #30b04b;
      background-image: url(../src/img/bg-tree.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 0 3.3125rem;
      color: #fff;
    }

    .DBS {
      background-color: #f4f3f3;
    }

    .DBT {
      border: 0.375rem solid #30b04b;
    }
  }

  .third-text-blocks {
    width: 77.5625rem;
    height: 20.25rem;
    display: flex;
    gap: 2.5rem;

    .text-block {
      width: 36.9375rem;
      height: 20.875rem;
      border-radius: 3.125rem;
      border: 0.625rem solid #d6d6d6;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      @include shadow;
      p {
        width: 34.4375rem;
        height: fit-content;
        font-family: "Manrope";
        font-weight: 500;
        font-size: 2.25rem;
        line-height: 2.4375rem;
        letter-spacing: -0.01em;
      }
    }
  }
  button {
    @include btn;
    width: 46.875rem;
    height: 7.5rem;
    font-weight: 600;
    font-size: 2rem;
  }
  @include green-btn-animation;
}

.fourth-section {
  width: 106.75rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
  margin-top: 8.125rem;

  @include H1;

  .map-block {
    width: 106.75rem;
    height: 43.4375rem;
    background-color: #f3f4f6;
    border-radius: 3.75rem;
    position: relative;
    @include shadow;

    .circle {
      width: 14.75rem;
      height: 14.75rem;
      background-color: #fff;
      border-radius: 62.4375rem;
      z-index: 1;
    }

    .CFT {
      position: absolute;
      top: 7rem;
      left: 6.625rem;
    }

    .CS {
      position: absolute;
      top: 21.75rem;
      left: 30.0625rem;
    }

    .CT {
      position: absolute;
      top: 4.6875rem;
      left: 53.375rem;
    }

    .CF {
      position: absolute;
      top: 19.4375rem;
      left: 80.1875rem;
    }

    p {
      width: max-content;
      background-color: #eee;
      border-radius: 1.25rem;
      padding: 0.625rem 1.25rem;
      font-family: "Manrope";
      font-weight: 800;
      font-size: 1.25rem;
      letter-spacing: 0.13em;
      text-transform: uppercase;
      z-index: 2;
    }

    .map-p1 {
      position: absolute;
      top: 7.1875rem;
      left: 14rem;
    }

    .map-p2 {
      position: absolute;
      top: 32.75rem;
      left: 31.4375rem;
    }

    .map-p3 {
      position: absolute;
      top: 4.1875rem;
      left: 59.4375rem;
    }

    .map-p4 {
      position: absolute;
      top: 17.625rem;
      left: 84rem;
    }

    .tractor {
      width: 20.5rem;
      height: 16.4375rem;
      position: absolute;
      top: 11.0625rem;
      left: 4.5625rem;
      z-index: 1;
    }

    .seedling {
      width: 11.75rem;
      height: 13.0625rem;
      position: absolute;
      top: 19.0625rem;
      left: 32.25rem;
      z-index: 1;
    }

    .watering {
      width: 12.75rem;
      height: 13.6875rem;
      position: absolute;
      top: 7.25rem;
      left: 54.875rem;
      z-index: 1;
    }

    .tree {
      width: 13.0625rem;
      height: 14.5rem;
      position: absolute;
      top: 22.9375rem;
      left: 81.5625rem;
      z-index: 1;
    }

    .line1 {
      width: 16.4738rem;
      height: 12.9556rem;
      position: absolute;
      top: 16.8019rem;
      left: 18.3125rem;
    }

    .line2 {
      width: 14.3931rem;
      left: 4.6031rem;
      position: absolute;
      top: 12.8875rem;
      left: 40.7306rem;
    }

    .line3 {
      width: 23.9075rem;
      height: 13.4125rem;
      position: absolute;
      top: 13.625rem;
      left: 64.375rem;
    }
  }
}

.five-section {
  width: 110rem;
  height: 29.4375rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
  margin-top: 8.125rem;

  @include H1;

  .how-it-works-blocks {
    width: 110rem;
    height: 23.5rem;
    display: flex;
    gap: 1.25rem;

    .block {
      width: 26.25rem;
      height: 23.5rem;
      display: flex;
      flex-direction: column;
      gap: 0.5625rem;
      padding: 0 0.625rem;
      border-radius: 2.5rem;
      background-color: #f3f4f6;
      @include shadow;

      h2 {
        width: fit-content;
        font-family: "Manrope";
        font-weight: 800;
        font-size: 4rem;
        text-transform: uppercase;
        color: #129334;
      }

      .how-icons {
        width: 25rem;
        height: 17.5rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 1.875rem;
        padding: 1.25rem 1.25rem;

        svg {
          width: 4.6875rem;
          height: 4.6875rem;
        }

        .text-block {
          width: 22.25rem;
          height: fit-content;
          display: flex;
          flex-direction: column;
          gap: 0.625rem;
          align-items: center;
          h4 {
            width: fit-content;
            font-family: "Manrope";
            font-weight: 800;
            font-size: 2rem;
            text-align: center;
          }
          p {
            width: inherit;
            height: 5.0625rem;
            font-family: "Manrope";
            font-weight: 800;
            font-size: 1.25rem;
            text-align: center;
            opacity: 60%;
            color: #4d4d4d;
          }
        }
      }
    }
  }
}

.six-section {
  width: 107.25rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin-top: 8.125rem;
  align-items: center;
  @include H1;

  .video-block {
    width: 107.25rem;
    height: 66.875rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;

    .photo-slider {
      width: 107.25rem;
      height: 17.5625rem;
      display: flex;
      gap: 1.25rem;
      justify-content: center;

      img {
        width: 29.875rem;
        height: 17.5625rem;
        border-radius: 1.25rem;
        @include shadow;
      }
    }

    .main-video {
      width: 94.375rem;
      height: 48.0625rem;
      border-radius: 2.5rem;
      @include shadow;
      video {
        width: inherit;
        height: inherit;
        border-radius: inherit;
        background: #212121;
      }
    }
  }
}

.seven-section {
  width: 120rem;
  height: 47rem;
  display: flex;
  gap: 0.625rem;
  padding: 6.25rem;
  background-color: #30b04b;
  margin-top: 8.125rem;

  .text-block {
    width: 50.6875rem;
    height: 34.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;

    .text-head {
      width: inherit;
      height: 22.1875rem;
      display: flex;
      flex-direction: column;
      gap: 1.875rem;

      h1 {
        height: 14.8125rem;
        font-family: "Unbounded";
        font-weight: 600;
        font-size: 4rem;
      }

      h2 {
        font-family: "Manrope";
        font-weight: 600;
        font-size: 2rem;
        opacity: 80%;
      }
    }
    p {
      font-family: "Manrope";
      font-weight: 600;
      font-size: 1.5rem;
      opacity: 50%;
    }
  }

  .form-block {
    width: 56.125rem;
    height: 34.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.875rem;

    .inputs-block {
      width: inherit;
      height: 19.125rem;
      display: flex;
      flex-direction: column;
      gap: 1.25rem;

      input {
        width: inherit;
        height: 3.875rem;
        border: none;
        padding: 1.25rem 1.875rem;
        background: #fff;
        border-radius: 1.25rem;
        font-family: "Manrope";
        font-weight: 600;
        font-size: 1rem;
        @include shadow;
      }

      input::placeholder {
        font-family: "Manrope";
        font-weight: 600;
        font-size: 1rem;
        opacity: 50%;
        color: #000;
      }

      input:focus {
        outline: none;
      }

      .names,
      .drop-inputs {
        width: inherit;
        height: 3.875rem;
        display: flex;
        flex-direction: row;
        gap: 1.25rem;
      }

      .custom-input {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%236b7280' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: right 0.75rem center;
        background-size: 1rem;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance: none;
        text-indent: 0.01px;
        text-overflow: "";
        color: transparent;
        text-shadow: 0 0 0 #000;
      }
      .custom-input::-ms-expand {
        display: none;
      }

      .custom-input:focus {
        border-color: #30b04b;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%2330B04B' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
      }
    }

    button {
      width: inherit;
      height: 7.5rem;
      border: none;
      border-radius: 2.5rem;
      background-color: #354052;
      color: #fff;
      font-family: "Unbounded";
      font-weight: 600;
      font-size: 2rem;
      transition: 300ms ease-in-out;
      @include shadow;
      cursor: pointer;
      @include shadow;
    }
    button:hover {
      transition: 100ms;
      background-color: #4e5e79;
    }
    button:active {
      transform: scale(0.99);
    }
    p {
      width: 48.875rem;
      font-family: "Manrope";
      font-weight: 600;
      font-size: 1.5rem;
      text-align: center;
      opacity: 70%;
      color: #fff;
    }
  }
}
