// Unbounded font
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");
// Manrope font
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Unbounded:wght@200..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Manrope", "Unbounded", sans-serif;
  overflow-x: hidden;
  font-size: 0.833vw;
  cursor: default;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 0.6563rem;
  background: #bbbbbb;
  border-radius: 0.625rem;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.375rem rgba(0, 0, 0, 0.2);
  border-radius: 0.625rem;
  background-color: #f9f9fd;
}

body::-webkit-scrollbar-thumb {
  border-radius: 0.625rem;
  background: #30b04b;
}

body {
  display: flex;
  flex-direction: column;
  width: max-width;
  height: fit-content;
  align-items: center;
  margin-top: 2.1875rem;
}

// veriables
@mixin btn {
  border-radius: 1.5625rem;
  border: none;
  background-color: #30b04b;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  font-family: "Unbounded";
  transition: 0.3s ease-in-out;
  box-shadow: 0 0 0.625rem #3b3b3b49;
}

@mixin green-btn-animation {
  button:hover {
    cursor: pointer;
    background-color: #1f7736;
  }
  button:active {
    transition: 0.1s;
    transform: scale(0.98);
  }
}

@mixin underButtonText {
  font-family: "Manrope";
  font-weight: 700;
  font-size: 0.75rem;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  color: #888;
  padding-left: 0.8125rem;
}

@mixin H1 {
  h1 {
	width: fit-content;
    font-family: "Manrope";
    font-weight: 700;
    font-size: 2.5rem;
    letter-spacing: 0.13em;
    text-transform: uppercase;
    text-align: center;
  }
}

@mixin shadow{
	box-shadow: 0 0 1.25rem #3b3b3b3d;
}

.first-section {
  width: 115.1875rem;
  height: 52.9375rem;
  background-color: #f3f4f6;
  border-radius: 2.5rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 1.25rem #3b3b3b3d;

  header {
    width: 113.875rem;
    height: 6.375rem;
    display: flex;
    margin: 0.75rem 0.625rem 0 0.625rem;
    padding: 1.25rem 0.9375rem 1.25rem 2rem;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border-radius: 2rem;
    box-shadow: 0 0 1.25rem #3b3b3b10;

    .logo {
      width: 12.625rem;
      height: 3.125rem;
    }

    nav {
      width: 34.5625rem;
      height: 1.6875rem;
      display: flex;
      gap: 2.9375rem;

      a {
        text-transform: uppercase;
        font-family: "Manrope";
        font-size: 1.25rem;
        text-decoration: none;
        font-weight: 600;
        letter-spacing: 13%;
        color: #030712;
        position: relative;
      }
      a::after {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        display: block;
        width: 100%;
        height: 0.125rem;
        background: #000;
        width: 0;
        transition: 0.5s;
      }
      a:hover::after {
        width: 100%;
      }
    }
    .application {
      width: 32.7125rem;
      height: 4.5rem;
      display: flex;
      gap: 5rem;
      align-items: center;

      .choosing-city {
        display: flex;
        width: 10.775rem;
        height: 1.9694rem;
        align-items: center;

        svg {
          width: 2rem;
          height: 2rem;
        }

        a {
          font-family: "Manrope";
          font-size: 1.25rem;
          font-weight: bold;
          text-decoration: underline dashed;
          text-underline-offset: 0.375rem;
          color: #000;
          position: relative;
        }
        a::after {
          position: absolute;
          content: "";
          bottom: -0.125rem;
          display: block;
          width: 100%;
          height: 0.125rem;
          background: #000;
          width: 0;
          transition: 0.3s ease-in-out;
          left: 50%;
          transform: translateX(-50%);
        }
        a:hover::after {
          width: 100%;
        }
      }
      button {
        width: 16.9375rem;
        height: 4.5rem;
        @include btn;
      }
      button:hover {
        cursor: pointer;
        background-color: #1f7736;
      }
      button:active {
        transition: 0.1s;
        transform: scale(0.98);
      }
    }
    a:active {
      transition: 100ms ease;
      color: #757575;
    }
    a:active::after {
      background: #757575;
      transition: 100ms ease;
    }
  }

  h1 {
    width: 63.7125rem;
    height: 10.8125rem;
    position: absolute;
    top: 16.5625rem;
    left: 3.8125rem;
    font-family: "Manrope";
    font-size: 4rem;
    font-weight: 800;
    letter-spacing: 0.13em;
    text-transform: uppercase;
  }

  .man {
    width: 35.125rem;
    height: 4.125rem;
    position: absolute;
    top: 22.5625rem;
    left: 33rem;
    font-family: "Manrope";
    font-weight: 600;
    font-size: 1.5rem;
    color: #272727;
  }

  .sign-up {
    width: 53.625rem;
    height: 13.25rem;
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    position: absolute;
    top: 34.1875rem;
    left: 3.8125rem;

    h4 {
      font-family: "Manrope";
      font-weight: 600;
      font-size: 1.5rem;
      color: #272727;
    }

    .sign-up-btn {
      width: 28.5625rem;
      height: 7.25rem;
      display: flex;
      flex-direction: column;
      gap: 0.9375rem;

      button {
        @include btn;
        width: 28.5625rem;
        height: 5.3125rem;
      }

      @include green-btn-animation;

      @include underButtonText;
    }
  }
  .rectangle {
    width: 35.9688rem;
    height: 43.5494rem;
    position: absolute;
    top: 11.4375rem;
    left: 79.375rem;
    border-radius: 2.5rem;
    rotate: 5.41deg;
    background-color: #ededed;
    box-shadow: 0 0 1.875rem #3b3b3b2a;
  }
  .rectangle2 {
    width: 35.9688rem;
    height: 43.5494rem;
    position: absolute;
    top: 12.475rem;
    left: 80.7425rem;
    rotate: 8.57deg;
    background-color: #fff;
    border-radius: 2.5rem;
    box-shadow: 0.125rem 0.25rem 0.9375rem #3b3b3b2a;
  }
  img {
    width: 29.75rem;
    height: 56.1875rem;
    image-rendering: optimizeQuality;
    object-fit: contain;
    position: absolute;
    top: 9.5625rem;
    left: 80.5rem;
  }
}

.second-section {
  width: 117.0625rem;
  height: 67.6875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7.9375rem;
  gap: 2.5rem;

  h1 {
    font-family: "Manrope";
    font-weight: 800;
    font-size: 2.5rem;
    letter-spacing: 0.13em;
    text-transform: uppercase;
  }

  .mySwiper {
    overflow: hidden;
    height: 100vh;
  }

  .swipe-block {
    width: 117.0625rem;
    height: 60.625rem;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

    .custom-pagination {
      display: flex;
      justify-content: center;
      gap: 0.25rem;
      margin-bottom: 2rem;

      .pagination-svg {
        width: 6.25rem;
        height: 0.375rem;
        cursor: pointer;
        transition: fill-opacity 0.3s ease;

        rect {
          width: 100%;
          height: 100%;
          rx: 3;
          fill: #212121;
          fill-opacity: 0.08;
        }

        &.active rect,
        &.completed rect {
          fill-opacity: 0.32;
        }
      }
    }

    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-wrapper {
      display: flex;
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      background: none;
      display: flex;
      justify-content: center;
      flex-shrink: 0;
      // width: 85.9375rem;
      width: 100vw;

      .slide {
        width: 85.9375rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 3.125rem;

        .about-block {
          width: 41.6875rem;
          height: 33.9375rem;
          display: flex;
          flex-direction: column;
          gap: 2.125rem;
          align-items: center;

          .text-block {
            width: 41.6875rem;
            height: 24.1875rem;
            display: flex;
            flex-direction: column;
            gap: 4.625rem;
            align-items: center;

            @include H1;

            h4 {
              width: 30rem;
              font-family: "Manrope";
              font-weight: 700;
              font-size: 1.25rem;
              letter-spacing: 0.13em;
              text-transform: uppercase;
              text-align: center;
            }
          }
          .plant-tree {
            width: 31.1875rem;
            height: 7.625rem;
            display: flex;
            flex-direction: column;
            gap: 33px;

            button {
              @include btn;
              width: 31.1875rem;
              height: 5.8125rem;
            }
            @include green-btn-animation;
            @include underButtonText;
          }
        }
      }
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    .firstImg {
      width: 41.125rem !important;
      height: 54.25rem !important;
    }

    .secondImg {
      width: 49.75rem !important;
      height: 49.75rem !important;
    }

    .thirdImg {
      width: 49.75rem !important;
      height: 49.75rem !important;
    }

    .swiper {
      margin-left: auto;
      margin-right: auto;
    }

    .swiper-button-next,
    .swiper-button-prev {
      width: 6rem !important;
      height: 6rem !important;
      background-color: #fff;
      border-radius: 62.4375rem !important;
      border: 0.0625rem solid #21212114;
      background-image: none !important;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
      width: 2rem;
      height: 2rem;
      font-size: 1rem;
      font-weight: 900;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #2121213d;
      transition: 150ms ease-out;
    }

    .swiper-button-next:hover::after,
    .swiper-button-prev:hover::after {
      color: #21212170;
    }

    .swiper-button-next:active::after,
    .swiper-button-prev:active::after {
      color: #212121;
    }

    .swiper-button-next {
      right: 1rem;
    }

    .swiper-button-prev {
      left: 1rem;
    }
  }
}

.third-section {
  width: 105.8125rem;
  height: 74.6875rem;
  margin-top: 12.25rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;

  @include H1;

  .description {
    width: 99.0625rem;
    height: 30.6875rem;
    display: flex;
    gap: 3.125rem;

    .desc-block {
      width: 31.5rem;
      height: 30.6875rem;
      border-radius: 3.125rem;
      display: flex;
      align-items: center;
      justify-content: center;
		@include shadow;
      p {
        font-family: "Manrope";
        font-weight: 800;
        font-size: 1.625rem;
        letter-spacing: 0.13em;
        text-transform: uppercase;
        text-align: center;
      }
      img {
        width: 29.5rem;
        height: 27.375rem;
        object-fit: contain;
      }
    }

    .DBF {
      background-color: #30b04b;
      background-image: url(../src/img/bg-tree.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 0 3.3125rem;
      color: #fff;
    }

    .DBS {
      background-color: #f4f3f3;
    }

    .DBT {
      border: 0.375rem solid #30b04b;
    }
  }

  .third-text-blocks {
    width: 77.5625rem;
    height: 20.25rem;
    display: flex;
    gap: 2.5rem;

		.text-block{
			width: 36.9375rem;
			height: 20.875rem;
			border-radius: 3.125rem;
			border: 0.625rem solid #D6D6D6;
			display: flex;
			text-align: center;
			align-items: center;
			justify-content: center;
			@include shadow;
			p {
			width: 34.4375rem;
			height: fit-content;
			font-family: "Manrope";
			font-weight: 500;
			font-size: 2.25rem;
			line-height: 2.4375rem;
			letter-spacing: -0.01em;
    }
	}
	}
	button{
		@include btn;
		width: 46.875rem;
		height:7.5rem;
	}
	@include green-btn-animation;
}
