@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Unbounded:wght@200..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Manrope", "Unbounded", sans-serif;
  overflow-x: hidden;
  font-size: 0.833vw;
  cursor: default;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 0.6563rem;
  background: #bbbbbb;
  border-radius: 0.625rem;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.375rem rgba(0, 0, 0, 0.2);
  border-radius: 0.625rem;
  background-color: #f9f9fd;
}

body::-webkit-scrollbar-thumb {
  border-radius: 0.625rem;
  background: #30b04b;
}

body {
  display: flex;
  flex-direction: column;
  width: max-width;
  height: fit-content;
  align-items: center;
  margin-top: 2.1875rem;
}

// veriables
@mixin btn {
  border-radius: 1.5625rem;
  border: none;
  background-color: #30b04b;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  font-family: "Unbounded";
  transition: 0.3s ease-in-out;
  box-shadow: 0 0 0.625rem #3b3b3b49;
}

@mixin green-btn-animation {
  button:hover {
    cursor: pointer;
    background-color: #1f7736;
  }
  button:active {
    transition: 0.1s;
    transform: scale(0.98);
  }
}

@mixin underButtonText {
  font-family: "Manrope";
  font-weight: 700;
  font-size: 0.75rem;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  color: #888;
  padding-left: 0.8125rem;
}

@mixin H1 {
  h1 {
    width: fit-content;
    font-family: "Manrope";
    font-weight: 700;
    font-size: 2.5rem;
    letter-spacing: 0.13em;
    text-transform: uppercase;
    text-align: center;
  }
}

@mixin shadow {
  box-shadow: 0 0 1.25rem #3b3b3b3d;
}

.logo {
  width: 12.625rem;
  height: 3.125rem;
}

.first-section {
  width: 115.1875rem;
  height: 52.9375rem;
  background-color: #f3f4f6;
  border-radius: 2.5rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 1.25rem #3b3b3b3d;

  header {
    width: 113.875rem;
    height: 6.375rem;
    display: flex;
    margin: 0.75rem 0.625rem 0 0.625rem;
    padding: 1.25rem 0.9375rem 1.25rem 2rem;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border-radius: 2rem;
    box-shadow: 0 0 1.25rem #3b3b3b10;

    nav {
      width: 34.5625rem;
      height: 1.6875rem;
      display: flex;
      gap: 2.9375rem;

      a {
        text-transform: uppercase;
        font-family: "Manrope";
        font-size: 1.25rem;
        text-decoration: none;
        font-weight: 600;
        letter-spacing: 13%;
        color: #030712;
        position: relative;
      }
      a::after {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        display: block;
        width: 100%;
        height: 0.125rem;
        background: #000;
        width: 0;
        transition: 0.5s;
      }
      a:hover::after {
        width: 100%;
      }
    }
    .application {
      width: 32.7125rem;
      height: 4.5rem;
      display: flex;
      gap: 5rem;
      align-items: center;

      button {
        width: 16.9375rem;
        height: 4.5rem;
        @include btn;
      }
      button:hover {
        cursor: pointer;
        background-color: #1f7736;
      }
      button:active {
        transition: 0.1s;
        transform: scale(0.98);
      }
    }
    a:active {
      transition: 100ms ease;
      color: #757575;
    }
    a:active::after {
      background: #757575;
      transition: 100ms ease;
    }
  }
}
.choosing-city {
  display: flex;
  width: 10.775rem;
  height: 1.9694rem;
  align-items: center;

  svg {
    width: 2rem;
    height: 2rem;
  }

  a {
    font-family: "Manrope";
    font-size: 1.25rem;
    font-weight: bold;
    text-decoration: underline dashed;
    text-underline-offset: 0.375rem;
    color: #000;
    position: relative;
  }
  a::after {
    position: absolute;
    content: "";
    bottom: -0.125rem;
    display: block;
    width: 100%;
    height: 0.125rem;
    background: #000;
    width: 0;
    transition: 0.3s ease-in-out;
    left: 50%;
    transform: translateX(-50%);
  }
  a:hover::after {
    width: 100%;
  }
}

input {
  height: 3.875rem;
  padding: 1.25rem 1.875rem;
  border: none;
  border-radius: 1.25rem;
  background-color: #fff;
  font-family: "Manrope";
  font-weight: 600;
  font-size: 1rem;
}
input::placeholder {
  font-family: "Manrope";
  font-weight: 600;
  font-size: 1rem;
  color: #000;
  opacity: 50%;
}
input:focus {
  outline: none;
}

footer {
  width: 120rem;
  height: 23.75rem;
  display: flex;
  flex-direction: column;
  gap: 5.4063rem;
  align-items: center;
  background-color: #343434;
  color: #fff;
  @include shadow;

  .head {
    width: 115.625rem;
    height: 2.75rem;
    display: flex;
    justify-content: space-between;
    margin: 2.9375rem 0 0 2.125rem;

    .head-logo {
      width: 25.7312rem;
      height: inherit;
      display: flex;
      gap: 1.875rem;
      align-items: center;
      a {
        color: #fff;
      }
      a::after {
        background: #fff;
        height: 0.125rem;
        bottom: -0.0625rem;
      }
    }
    .social-networkc {
      width: 18.875rem;
      height: inherit;
      display: flex;
      gap: 1.25rem;
      align-items: center;

      p {
        font-family: "Manrope";
        font-weight: 700;
        font-size: 1.25rem;
      }
      svg:hover {
        cursor: pointer;
      }
      .WK {
        width: 3rem;
        height: 1.875rem;
      }
      .WK:hover path {
        transition: 250ms ease;
        fill: #4680c2;
        stroke: #4680c2;
      }
      .TG {
        width: 2.4375rem;
        height: 2.1875rem;
      }
      .TG:hover path {
        transition: 250ms ease;
        fill: #27a7e7;
        stroke: #27a7e7;
      }
      .YT {
        width: 3.3125rem;
        height: 2.125rem;
      }
      .YT:hover path {
        transition: 250ms ease;
        fill: #ff0033;
        stroke: #ff0033;
      }
      .social-icons {
        display: flex;
        gap: 1.25rem;
      }
    }
  }
  .links {
    width: 59.9375rem;
    height: 2.0625rem;
    display: flex;
    justify-content: space-between;

    a {
      font-family: "Manrope";
      font-weight: 700;
      font-size: 1.5rem;
      color: #fff;
      text-decoration: none;
      position: relative;
    }
    a::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      display: block;
      width: 100%;
      height: 0.125rem;
      background: #fff;
      width: 0;
      transition: 0.5s;
    }
    a:hover::after {
      width: 100%;
    }
  }
  .basement {
    width: inherit;
    height: 5.0625rem;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 2.375rem;
    background-color: #2e2e2e;
    align-items: center;
    @include shadow;
    p {
      height: 1.6875rem;
      font-family: "Manrope";
      font-weight: 700;
      font-size: 1.25rem;
      color: #f8fafc;
    }
    span p {
      color: #bdbdbd;
    }
  }
}
